body {
    text-align: center;
    margin: 0 auto;
    font-family: 'Segoe UI';
    background-color: #303030;
    color: white;
    padding: 10px;
}

header p {
    margin-top: -10px;
}

main {
    margin: 50px auto 0 auto;
    text-align: left;
	
}

#calculation {
    text-align: center;
    margin: 0 auto;

    background-color: #21211f;
	padding: 10px;
	border-radius: 10px;
	max-width: 350px;
}

#nav {
    text-align: center;
    margin: 0 auto;
    font-family: 'Segoe UI';
    font-weight: 400; 
}

#nav a {
    color: #8ab4f8;
    text-decoration: none;
    margin: 0 1px;
}

#nav a:hover {
    text-decoration: underline;
}

label, input {
    margin: 5px;
    padding: 5px;
    height: 25px;
}

button {
    color: white;
    background-color: #323336;
    margin: 5px;
    border: 1px solid #313235;
    border-radius: 3px;
    padding: 5px;
    height: 40px;
    
}

button:hover {
    border: 1px solid gray;
}

input {
    background-color: #21211f;
    color: white;
    border: 0.25px solid gray;
    border-radius: 5px;
}

hr {
    border: 0;
    border-top: 1px solid gray;
}