body {
    margin: 0 auto !important;
    text-align: center !important;
}

#main-content {
    margin: 20px auto auto auto !important;
    text-align: left !important;
    color: white !important;
    /*background-color: #1a1b1c !important;*/
    background-color: #0f0f0f !important;
    border-radius: 10px !important;
    padding: 20px;
    max-width: fit-content;
    min-width: 337.5px; 

}

a {
    color: #8ab4f8 !important;
    text-decoration: none !important;
    padding: 0 2px;
}

a:hover {
    color: #1a1b1c !important;
    background-color: #8ab4f8 !important;
}

.mt-n1 {
    margin: -10px auto 5px auto !important;
}