#main-content {
    color: white !important;
    background-color: #1a1b1c !important;
    border-radius: 10px !important;
    padding: 20px;
    max-width: 500px;
}

a {
    color: #8ab4f8 !important;
    text-decoration: none !important;
}

a:hover {
    color: #1a1b1c !important;
    background-color: #8ab4f8 !important;
}

.mt-n1 {
    margin-top: -10px !important;
}